<ion-header-bar class="bar-positive">
    <div class="buttons">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title ion-information-circled"> About</h1>
    </div>
</ion-header-bar>
<ion-content class="has-header" padding="true">
    <h2>About</h2>
    <h3>RESEARCH AND STATISTICS UOR CODE DISCLAIMER</h3>
    <p>
        The Kentucky State Police (KSP) assigns the Kentucky Uniform Crime Reporting Codes (UOR Codes) to criminal offenses in the Commonwealth of Kentucky. The KSP official list of UOR Codes by KRS number and descriptor can be obtained at the KSP's website @ www.kentuckystatepolice.org.
        The AOC assigns and maintains codes that are used within the Court of Justice Case Management System for statistical and reporting purposes. These codes are used to identify local and city ordinances, as well as codes for general administrative purposes. The AOC official list of UOR Codes by KRS number and descriptor can be obtained at the Court of Justice Website @ www.kentuckystatepolice.org. The AOC UOR Code Listing is for informational purposes only and the information is subject to change, reprogramming, modifications of format, and availability at the direction of the Administrative Office of the Courts (AOC).
        The AOC disclaims and makes no warranty, express or implied, nor assumes any legal liability or responsibility, for the validity, accuracy, correctness, or completeness of any information that is available and/or obtained through this listing. The recipient is solely responsible for verifying the accuracy of the information received from the official owner of the UOR Codes, the KSP. Furthermore, the AOC shall not be liable to the recipient, the recipient's heirs and assigns, next of kin or to any third party, for any and all claims, demands, losses or damages arising from the usage of this list and/or information contained therein.
    </p>
    <p>List of all statues are available at: <a href="http://www.lrc.ky.gov/statutes/" target="_blank" >http://www.lrc.ky.gov/statutes/</a></p>
</ion-content>

